<div class="container">
  <cdk-accordion class="accordion dropList" cdkDropList (cdkDropListDropped)="drop($event)">

    <cdk-accordion-item *ngFor="let section of sections; let index = index;"
      #accordionItem="cdkAccordionItem"
      class="accordion-item dropBox"
      cdkDrag
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">

      <div class="custom-placeholder" *cdkDragPlaceholder></div>
      <div class="accordion-item-header" cdkDragHandle>

        <table [ngClass]="accordionItem.expanded ? 'expandedSection' : ''">
          <thead>
            <tr>
              <th class="idHeader">
                <span class="sectionID">{{ section.id }}</span>
              </th>

              <th>
                <input class="inputLabel" placeholder="Enter Label">
              </th>

              <th>
                <input placeholder="Enter Description">
              </th>

              <th class="dropdownIcons">
                <span class="accordion-item-description" (click)="accordionItem.toggle()">
                  <i [class]="accordionItem.expanded ? 'bi bi-arrow-up-circle' : 'bi bi-arrow-down-circle-fill'"></i>
                </span>
              </th>
            </tr>
          </thead>
        </table>

      </div>

      <div class="accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        <div class="questionsDiv">

          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Label</th>
                <th>Display Label</th>
                <th>Type</th>
                <th>Required</th>
                <th>Enabled</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody class="questionDropList" cdkDropList (cdkDropListDropped)="dropQuestion($event, section)">
              <tr *ngFor="let question of section.questions; let i = index;" cdkDrag>
                <td class="idHeader">
                  <span class="sectionID">{{ question.id }}</span>
                </td>

                <td>
                  <input class="inputLabel" [(ngModel)]="question.label" placeholder="Enter Label">
                </td>

                <td>
                  <input class="inputLabel" [(ngModel)]="question.displayLabel" placeholder="Enter Display Label">
                </td>

                <td class="questionType">
                  <!-- <mat-label>Select a type</mat-label> -->
                  <mat-select disableRipple [(value)]="question.type">
                    <mat-option value="multi">Multi options</mat-option>
                    <mat-option value="truthy">True / False</mat-option>
                  </mat-select>
                </td>

                <td class="questionRequired">
                  <mat-select disableRipple [(value)]="question.required">
                    <mat-option value="true">True</mat-option>
                    <mat-option value="false">False</mat-option>
                  </mat-select>
                </td>

                <td class="questionEnabled">
                  <mat-select disableRipple [(value)]="question.enabled">
                    <mat-option value="true">True</mat-option>
                    <mat-option value="false">False</mat-option>
                  </mat-select>
                </td>

                <td class="questionOptions">
                  <i (click)="openDialog(section, question)" class="bi bi-binoculars-fill"></i>
                  <!-- <ng-container *ngIf="question.type == 'multi'">
                    <mat-select disableRipple [(value)]="question.options">
                      <mat-option *ngFor="let i of optionsNumber" value="multi">{{ i }}</mat-option>
                    </mat-select>
                  </ng-container>

                  <ng-container *ngIf="question.type == 'truthy'">
                    2
                  </ng-container> -->
                </td>
              </tr>
            </tbody>
          </table>

          <div class="addQuestionDiv">
            <button (click)="addQuestion(section)" mat-raised-button>Add Question</button>
          </div>
        </div>


      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>

