.container {
  padding: 2rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.clientID {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 3rem;
  padding: 0 0.5rem;
}

/* tr {
  height: 48px;
} */


.tableHeader {
  background-color: #e7f0ff;
}

.tableBodyTR:nth-child(even) {
  /* background-color: ghostwhite; */
}

/* .example-container {
  height: 400px;
  width: 550px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 800px;
} */

/* Column Widths */
.mat-column-select {
  width: 0;;
}

.mat-column-id {
  width: 0;
}

.mat-column-cpf_cnpj {
  min-width: 10rem;
}

.mat-column-apartment {
  min-width: 5rem;
}

.mat-column-name {
  min-width: 15rem;
}

.mat-column-area {
  min-width: 6rem;
}

.mat-column-type {
  min-width: 5rem;
}

.mat-column-email {
  min-width: 15rem;
}

.mat-column-phone {
  min-width: 10rem;
}

.tableBodyTR > .mat-column-cpf_cnpj,
.tableBodyTR > .mat-column-apartment,
.tableBodyTR > .mat-column-name,
.tableBodyTR > .mat-column-area,
.tableBodyTR > .mat-column-type,
.tableBodyTR > .mat-column-email,
.tableBodyTR > .mat-column-phone {
  cursor: pointer;
  padding: 0 !important;
  overflow: hidden;
}

div::-webkit-scrollbar {
  display: none;
}

.selectedTR {
  background-color: #d6e5fe !important;
}

.tableContiner {
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

input {
  font-weight: 300;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header mat-form-field {
  width: 50%;
}

.selectedFunctions {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.selectedFunctions i {
  font-size: 1rem;;
}

.selectedFunctions button span {
  font-weight: 100;
}

.selectedFunctions button {
  background: #ff4081;
  color: white;
}

tr.mat-row, tr.mat-footer-row, tr.mat-header-row {
  height: 2.5rem;
}

.focusedRow {
  background-color: #e7f0ff !important;
}

td.mat-cell:hover {
  background-color: #e7f0ff;

}

table input:focus {
  background-color: #e7f0ff;
  border: 1px solid #126dff;
}

.mat-column-id td.mat-cell {
  background-color: yellow !important;
}

.mat-column-id:hover {
  background-color: unset !important;
  cursor: default;
}

.tableHeader i {
  font-size: 1.2rem;
  color: #000000a8;
  margin-right: 0.25rem;
}

.mat-checkbox {
  padding: 0 0.5rem;
}
