.container {
  padding: 2rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.clientID {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 3rem;
  padding: 0 0.5rem;
}

/* Column Widths */
.mat-column-select {
  width: 0;;
}

.mat-column-id {
  width: 0;
}

.mat-column-cpf_cnpj {
  min-width: 10rem;
}

.mat-column-apartment {
  min-width: 5rem;
}

.mat-column-name {
  min-width: 15rem;
}

.mat-column-area {
  min-width: 6rem;
}

.mat-column-type {
  min-width: 5rem;
}

.mat-column-email {
  min-width: 15rem;
}

.mat-column-phone {
  min-width: 10rem;
}

/* .tableBodyTR > .mat-column-cpf_cnpj,
.tableBodyTR > .mat-column-apartment,
.tableBodyTR > .mat-column-name,
.tableBodyTR > .mat-column-area,
.tableBodyTR > .mat-column-type,
.tableBodyTR > .mat-column-email,
.tableBodyTR > .mat-column-phone {
  cursor: pointer;
  padding: 0 !important;
  overflow: hidden;
} */

div::-webkit-scrollbar {
  display: none;
}


.tableContiner {
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header mat-form-field {
  width: 25%;
}

.selectedFunctions {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.selectedFunctions i {
  font-size: 1rem;;
}

.selectedFunctions button span {
  font-weight: 100;
}

.selectedFunctions button {
  background: var(--active);
  color: white;
}

.mat-checkbox {
  padding: 0 0.5rem;
}

