.container {
  padding: 2rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.clientID {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  width: 3rem;
}

tr {
  height: 48px;
}


.tableHeader {
  background-color: bisque;
}

.tableBodyTR:nth-child(even) {
  background-color: ghostwhite;
}

/* .example-container {
  height: 400px;
  width: 550px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 800px;
} */

/* Column Widths */
.mat-column-select {
  width: 0;
}

.mat-column-id {
  width: 0;
}

.mat-column-cpf_cnpj {
  min-width: 10rem;
}

.mat-column-apartment {
  min-width: 5rem;
}

.mat-column-name {
  min-width: 15rem;
}

.mat-column-area {
  min-width: 5rem;
}

.mat-column-type {
  min-width: 5rem;
}

.mat-column-email {
  min-width: 15rem;
}

.mat-column-phone {
  min-width: 10rem;
}

div::-webkit-scrollbar {
  display: none;
}

.selectedTR {
  background-color: #ff40814d !important;
}

.tableContiner {
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
