<div class="container">
  <div class="header">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div>
      <button mat-raised-button (click)="publishChanges()">
        Publish Changes
      </button>
    </div>
  </div>

  <div *ngIf="selection.selected.length > 0" class="selectedFunctions">
    <button mat-raised-button (click)="publishChanges()" >
      <i class="bi bi-trash"></i>
      Delete Selected <span>({{selection.selected.length}})</span>
    </button>

    <button mat-raised-button (click)="publishChanges()">
      <i class="bi bi-person-lock"></i>
      Disable Selected <span>({{selection.selected.length}})</span>
    </button>

    <button mat-raised-button (click)="publishChanges()">
      <i class="bi bi-envelope"></i>
      Email Selected <span>({{selection.selected.length}})</span>
    </button>
  </div>

  <div class="tableContiner">
    <section>
      <table mat-table [dataSource]="dataSource" matSort cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select" sticky>
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id" >
          <th  mat-header-cell *matHeaderCellDef class="textAlignCenter"> ID </th>
          <td mat-cell *matCellDef="let row" class="idHeader">
            <span #tooltip="matTooltip"
            [matTooltip]="row.id"
            [matTooltipPosition]="'above'"
            matTooltipHideDelay="0" class="clientID">{{row.id}}</span>
          </td>
        </ng-container>

        <!-- CPF / CNPJ Column -->
        <ng-container matColumnDef="cpf_cnpj" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> CPF / CNPJ </th>
          <td class="highlightFocus" mat-cell *matCellDef="let row">
            <input class="inputLabel" maxlength="18" (keyup)="row.cpf_cnpj.length < 15 ? cpfChange($event, row) : cnpjChange($event, row)" [(ngModel)]="row.cpf_cnpj" >
          </td>
        </ng-container>

         <!-- Apartment Column -->
         <ng-container matColumnDef="apartment" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apartment </th>
          <td mat-cell *matCellDef="let row">
            <input class="inputLabel" [(ngModel)]="row.apartment" >
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Name</th>
          <td mat-cell *matCellDef="let row">
            <input [(ngModel)]="row.name">
          </td>
        </ng-container>

         <!-- Area M2 Column -->
         <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Area M<sup>2</sup> </th>
          <td mat-cell *matCellDef="let row">
            <input [(ngModel)]="row.area" >
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Type </th>
          <td mat-cell *matCellDef="let row">
            <input [(ngModel)]="row.type" >
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Email </th>
          <td mat-cell *matCellDef="let row">
            <input [(ngModel)]="row.email" >
          </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Phone </th>
          <td mat-cell *matCellDef="let row">
            <input [(ngModel)]="row.phone" >
          </td>
        </ng-container>

        <tr class="tableHeader" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr class="tableBodyTR" mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="selection.isSelected(row) ? 'selectedTR' : ''"></tr>


        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <!-- <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator> -->
    </section>
  </div>

</div>
