<h2 mat-dialog-title>{{ question.label }}</h2>
<mat-dialog-content class="mat-typography">
  <table>
    <thead>
      <tr>
        <th style="width: 0;">Value</th>
        <th>Label</th>
        <th>Option Name</th>
        <th>Price</th>
        <th>Link</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of options; let i = index">
        <td class="textAlignCenter">{{ i+1 }}</td>
        <td [ngClass]="(hasErrors && !(option.label?.trim().length > 0)) ? 'errorValidation' : ''">
          <input class="inputLabel" placeholder="Enter Label" [(ngModel)]="option.label">
        </td>
        <td>
          <input class="inputLabel" placeholder="Enter Label" [(ngModel)]="option.name">
        </td>
        <td [ngClass]="(hasErrors && (option.price == null || !(option.price >= 0))) ? 'errorValidation' : ''">
          <input type="number" class="inputLabel" placeholder="Enter Price"  [(ngModel)]="option.price">
        </td>
        <td>
          <input class="inputLabel" placeholder="Enter Link"  [(ngModel)]="option.link">
        </td>
        <td class="deleteIcon">
          <i (click)="deleteOption(i)" class="bi bi-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="addOptionsDiv">
    <div>
      <div *ngIf="hasErrors" class="warningNote">
        <span><b>*Label</b> - Please make sure that the <u>label</u> field is not left empty.</span>
        <span><b>*Price</b> - Please make sure to enter a non-negative number and ensure that the <u>price</u> field is not left empty.</span>
      </div>

    </div>
    <button mat-raised-button (click)="addOption()" [ngClass]="options.length == 10 ? 'locked' : ''">Add Option</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</mat-dialog-actions>

<!-- [mat-dialog-close]="options" cdkFocusInitial -->
