

.addOptionsDiv {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

/* .addOptionsDiv button {
  background: lightskyblue;
  color: black;
} */

.inputLabel {
  font-weight: bold;
}

.inputLabel::placeholder {
  font-weight: 100;
}

.errorValidation {
  border: 2px solid red;
}

.deleteIcon {
  text-align: center;
}

.locked {
  opacity: 0.5;
  pointer-events: none;
  cursor: none;
}

thead tr {
  background-color: antiquewhite;
}

tbody tr:nth-child(even) {
  background-color: #faebd738;
}
