

.addOptionsDiv {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  text-align: center;
}

.locked {
  opacity: 0.5;
  pointer-events: none;
  cursor: none;
}

.warningNote {
  display: grid;
  font-size: 0.75rem;
  font-style: italic;
}

td i {
  padding: 0 1rem;
  font-size: 1.25rem;
  color: #f83434;
}
