

.addOptionsDiv {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

/* .addOptionsDiv button {
  background: lightskyblue;
  color: black;
} */

.inputLabel {
  font-weight: bold;
}

.inputLabel::placeholder {
  font-weight: 100;
}

.errorValidation {
  border: 1.5px solid mediumvioletred;
  background: #c7158512;
}

.deleteIcon {
  text-align: center;
}

.locked {
  opacity: 0.5;
  pointer-events: none;
  cursor: none;
}

thead tr {
  background-color: antiquewhite;
}

tbody tr:nth-child(even) {
  background-color: #faebd738;
}

.warningNote {
  display: grid;
  font-size: 0.75rem;
  font-style: italic;
}
