.card {
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem
}

.card:hover {
  background: var(--active-section);
}

.card-image {
  aspect-ratio: 5/1;
  width: 100%;
  margin: 0;
  object-fit: contain;
}

.girdView {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* width: 80%; */
  margin: 0 auto;
  padding: 1rem;
}

.mat-card-title {
  margin-bottom: 1rem !important;
  font-size: 1.25rem;
}

.mat-card-content {
  padding: 1rem;
}

.one {
  background-color: red;
}

.two {
  background-color: pink;
}

.three {
  background-color: orange;
}

.four {
  background-color: greenyellow;
}

.five {
  background-color: blueviolet;
}
